<header class='top-page-header'>
  <div class='logo'>
  <%= link_to "MMO", '/'%>
  </div>
  <div class='menu'>
    <%= link_to "新規作成", "#", class:"credit-list" %>
  </div>
</header>

<%= render "shared/footer" %>