<%= render "shared/header" %>
<div class='main'>
<% if user_signed_in? %>
  <h1>カレンダー</h1>
<% else %>
  <div class='top'>
    <div class='login-left'>
      <%= link_to 'ログイン', new_user_session_path, class: "login" %>
    </div>
    <div class='sign-up-light'>
      <%= link_to '新規登録', new_user_registration_path, class: "sign-up" %>
    </div>
  </div>
<% end %>
</div>
<%= render "shared/footer" %>