<header class='top-page-header'>
  <div class='logo'>
  <%= link_to "MMO", '/'%>
  </div>
  <div class='menu'>
    <ul class='menu-lists'>
      <li><%= link_to "Credit", credit_cards_index_path, class:"credit-list" %></li>
      <li><%= link_to "Bank", "#", class: "bank-list" %></li>
      <li><%= link_to "Cost", "#", class: "cost-list" %></li>
    </ul>
  </div>
</header>